.lexical-editor__content {
  padding: 1rem 0.5rem;
}

lexical-editor {
  .node--selected:has(img) {
    img {
      border: 2px solid blue;
    }
  }

  .node--selected:not(:has(img)) {
    border: 2px solid blue;
  }
}

lexical-toolbar {
  background-color: inherit;
  border-block-end: 1px solid var(--color-ink-medium);
  border-radius: 0;
  color: currentColor;
  display: inline-flex;
  font-size: inherit;
  max-inline-size: 100%;
  overflow-x: auto;
  padding: 0.2em;

  button, label {
    aspect-ratio: 4/3;
    appearance: none;
    background-color: transparent;
    block-size: 2em;
    border: none;
    border-radius: 0.5em;
    color: currentColor;
    cursor: pointer;
    display: grid;
    font-size: inherit;
    inline-size: auto;
    place-items: center;
    transition: background-color 300ms ease;

    svg {
      -webkit-touch-callout: none;
      block-size: 0.9em;
      fill: currentColor;
      grid-area: 1/1;
      inline-size: auto;
      user-select: none;
    }

    &:is(:focus, :hover) {
      background-color: var(--color-ink-lighter);
    }

    &:is(:active) {
      background-color: var(--color-selected);
    }
  }
}
